 .logo{
	padding-left:12em;
}
.mast-head{
	margin-left:50em;
}
.happy-face{
    padding-left:25em;
    width:100px;
    height:100%;
}
.words{
	margin-left:15em;
	background:yellow;
}
p{
	margin-right:10em;
	white-space: pre-wrap;

}

.whitespace{
	white-space: pre-wrap;
}
.highlight{
	background-color:yellow;
	width: 50px;
	height: 10px;
}

.color{
	color:red;
}

.style {
             font-style: italic;
             text-decoration: underline;
            }

